*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#009688);
}
.header .row{
    margin-top: 70px;
}
/* =============================================Features========================================== */
.features{
    width: 100%;
    padding: 40px 0;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 50%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;

}
/* ======================================Featured services================================= */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h4{
    color: #555;
    font-weight: bold;
}
.col-4 p{
    padding: 5px;
    font-size: 14px;
} 
.col-4:hover{
    transform: translateY(-5px);
}
/* =========================Equipments============================ */
.equipments{
    background: radial-gradient(#fff,#555);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2{
    overflow: hidden;
}
.col-2 .tool-img{
    padding: 30px;
}
small{
    color: #555;
}
.col-2 .slide-track{
    display: flex;
    width: calc(250px * 9);
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 9));
    }
}
.slide{
    height: 450px;
    width: 700px;
    display: flex;
    align-items: center;
    perspective: 100px;

}
.slide img{
    width: 100%;
    transition: transform 1s;
}
.slide img:hover{
    transform: translateZ(20px);
}
.col-2 .equip-text{
    margin-left: 20px;
}
/* ===============FOOTER ADDRESS===================================== */
.footer-address{
    padding: 100px 0 20px;
    
}
.footer-address h2{
    margin-top: 50px;
    font-size: 40px;
}
.footer-address .row{
    width: 80%;
    margin: 0 auto;
    display: flex;

}
.row .col-5{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.row .col5-right{
    text-align: right;
}
.footer-address .row h1{
    margin: 10px 0;
}
.footer-address .row p{
    line-height: 35px;
}
.row .col-5 .fas{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
}
/* =====================FOOTER============================== */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-1{
    flex: 1;
    text-align: center;
}
.footer-col-1 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.copyright{
    text-align: center;
    padding-top: 20px;
}
nav .fa{
    display: none;
}
/* ==========================media query for menu======================= */
@media only screen and (max-width: 800px){
    .nav-links{
        position: absolute;
        background-color: #555;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
 
    }
    .nav-links ul{
        padding: 40px;
        line-height: 40px;
    }
    .nav-links ul li{
     display: block;
 }
 .nav-links ul li a{
     color: #fff;
 }
 nav .fa{
     display: block;
     color: #fff;
     margin: 10px;
     font-size: 22px;
     cursor: pointer;
 }
}
/* ========media query less than 600 screen size==========*/

@media only screen and (max-width: 600px){
    
    .features-img img{
        width: 100%;
    }

    .col-4{
        padding: 1px;
        min-width: 300px;
    }
    .row{
        text-align: center;
    }
    .col-2 h1{
        font-size: 60px;
    }
    .col-2, .col-4 .col-5{
        flex-basis: 100%; 
    }
    .features{
        flex-basis: 100%;
    }
    .feature-box{
        width: 95%;
    }
    .feature-text p{
        padding-left: 20px;
        padding-right: 5px;
    }
    .features-img{
        flex-basis: 100%;
    }
    .col-2 .slide-track{
        width: calc(200px * 11);
    }
    .slide{
        height: 350px;
        width: 500px;
    }
    .row .col-5{
        text-align: center;
    }
    .social-links p{
        font-size: 11px;
    }
}