*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#009688);
}
/* ============================================single service details========================================== */
.contact-us{
    margin-top: 50px;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}
.col-2{
    flex-basis: 50%;
}
.col-2 div{
    display: flex;  
    align-items: center;
    margin-bottom: 40px;
}
.col-2 div .fa{
    font-size: 28px; 
    color: #009688;
    margin: 10px;
    margin-right: 30px;
}
.col-2 div p{
    padding: 0;
}
.col-2 div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #009688;
    font-weight: 400;
}
.col-2 input, .col-2 textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid#ccc;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* ===============Location============================= */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
   width: 100%; 
}














/* ===============SOCIAL LINKS ADDRESS===================================== */
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
}
/* =====================FOOTER============================== */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

}
.footer .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-1{
    flex: 1;
    text-align: center;
}
.footer-col-1 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.copyright{
    text-align: center;
    padding-top: 20px;
}
nav .fa{
    display: none;
}
/* ==========================media query for menu======================= */
@media only screen and (max-width: 800px){
    .nav-links{
        position: absolute;
        background-color: #555;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
 
    }
    .nav-links ul{
        padding: 40px;
        line-height: 40px;
    }
    .nav-links ul li{
     display: block;
 }
 .nav-links ul li a{
     color: #fff;
 }
 nav .fa{
     display: block;
     color: #fff;
     margin: 10px;
     font-size: 22px;
     cursor: pointer;
 }
}
/* ========media query less than 600 screen size==========*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
}
.social-links p{
    font-size: 11px;
}
.col-2{
    flex-basis: 100%;  
}
.col-2 div{
    display: block;
}
.col-2 div h5,p{
    margin-left: 5px;
    margin-right: 5px;
}
}